.rooms__name {
  margin-bottom: 60px;
}

.rooms__name:last-child {
  margin-bottom: 0;
}

.rooms-star{
  background-image: url("../img/starwars.jpg");
  width: 1180px;
  height: 710px;
}

.rooms-west {
  background-image: url("../img/west.jpg");
  width: 1180px;
  height: 710px;
}

.rooms-neon {
  background-image: url("../img/neon.jpg");
  width: 1180px;
  height: 710px;
}

.rooms-vibe {
  background-image: url("../img/80.jpg");
  width: 1180px;
  height: 710px;
}

.room {
  padding-top: 275px;
}

.rooms__name-text {
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-align: center;
}
